<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="map" class="com.jcg.logbackappender.MapAppender">
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="map"/>
    </root>

</configuration>